<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Count}} Todos encontrados</title>
    <style>
		body {
			background-color: aquamarine;
		}

		.done {
			text-decoration: line-through;
		}
	</style>
</head>
<body>
    <h1>{{.Count}} Todos encontrados</h1>
    {{range .Todos}}
        <p class="{{if .Completed }}done{{ end }}">{{ upper .Title }}</p>
    {{end}}
</body>
</html>